:root {
    --color-base: #E1D5BD;
}
.btn-one-piece {
    background-color: #E1D5BD;
    color: #60594c;
}
.text-comprar {
    color: #371401 !important;
}
#header img {
    width: 85px;
}
#main .carousel-inner img{
    height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}
.img-card {
    height: 200px;
    object-fit: cover;
}
#place-time {
    background-color: #E1D5BD;
    color: #60594c;
}
#place-time img {
    max-width: 100%;
}
#footer{
    background: var(--color-base);
}
#footer a {
    color: #60594c;
}

/* Fondo y texto de la barra de navegación */
#header {
    background-color: #c9b58c !important; /* Fondo de la barra */
}

#header .navbar-brand {
    color: #353214; /* Color del texto */
    font-weight: 700; /* Hace el texto más grueso */
}


#header .nav-link {
    color: #60594c; /* Color del texto */
    font-weight: 600; /* Hace el texto más grueso */
    letter-spacing: 0.5px; /* Espaciamiento entre letras */
}

#header .nav-link:hover {
    color: #353214; /* Color al pasar el mouse */
    font-weight: 800;
}

/* Botón hamburguesa en móviles */
#header .navbar-toggler {
    border-color: #60594c; /* Borde del botón */
}

#header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2360594c' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#header .nav-link.active {
    color: #ffffff;  /* Cambia al color de tu preferencia cuando se activa */
    font-weight: 700; /* Opcional: hace que el texto activo se vea más grueso */
}
